<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.104.0" newVersion="1.0.104.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="sqlServer" connectionString="Server=.\SQLEXPRESS;Database=AdventureWorks2014_Test;Trusted_Connection=True;"/>
    <add name="sqlServerTest" connectionString="server=.\SQLEXPRESS;Initial Catalog=AdventureWorks2014_Test;Integrated Security=True;"/>
  </connectionStrings>
</configuration>